@import "themes";
@import "../bower_components/bourbon/app/assets/stylesheets/_bourbon";

.highlight-add {
  @include transition(all 10s);
  background-color: $highlight;
}
.highlight-add-active {
  background-color: white;
}

.upvotes-transition {
  &.ng-enter {
    @include transition(all 1s);
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    background-color: lighten($highlight, 10);
    &.ng-enter-active {
      max-height: 100px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: white;
    }
  }
}

.upvote-form-transition {
  &.ng-enter {
    @include transition(all 1s);
    @include transition-delay(0.5s);
    max-height: 0;
    overflow: hidden;
    position: relative;
    bottom: -200px;
    padding-top: 0px;
    padding-bottom: 0px;
    &.ng-enter-active {
      max-height: 160px;
      bottom: 0;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  &.ng-leave {
    @include transition(all 1s);
    position: relative;
    bottom: 0;
    max-height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    &.ng-leave-active {
      bottom: -80px;
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
