@import "themes";
@import "../bower_components/bootstrap-sass/lib/bootstrap";
$fa-font-path: '../bower_components/Font-Awesome/fonts';
@import "../bower_components/Font-Awesome/scss/font-awesome";
@import "../bower_components/select2/select2.css";
@import "leaderboard";
@import "upvotes";
@import "footer";
@import "header";
@import "animations";

body {
  background: $ps-bg;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.highlight {
  color: $highlight;
}

strong {
  color: $ps-nav-bg;
}

#main {
  margin-bottom: 3em;
}

hr {
  border-color: $highlight;
  border-bottom: 0;
}

.select2, .select2-container, .select2-choice {
  height: 43px !important;
  line-height: 43px !important;
  font-size: 20px;
}
.select2-drop {
  font-size: 20px;
}
