@import "themes";

#upvotes {
  display: relative;
  > li {
    > .fa {
      color: $ps-nav-bg;
    }
    > p {
      margin-left: 15px;
      vertical-align: middle;
      display: inline-block;
    }
  }
}

#upvote-form-container {
  overflow: hidden;
  max-height: 140px;
  > div > form {
    .form-group {
      max-width: 400px;
    }
  }
}
