@import "themes";

#upvotes {
  > li {
    > form {
      .form-group {
        max-width: 400px;
      }
    }
    > .fa {
      color: $ps-nav-bg;
    }
    > p {
      margin-left: 15px;
      vertical-align: middle;
      display: inline-block;
    }
  }
}
