<div class="row">
  <div class="col-md-6 leaderboard">
    <h3>Leaderboard</h3>
    <ul id="leaderboard" class="list-group">
      <li class="list-group-item" ng-repeat="user in leaderboard | orderBy:'-karma'">
        {{$index+1}}
        <p ng-if="$index==0"><i class='fa fa-star-o fa-3x'><span>{{$index}}</span></i></p>
        <p>
          <span class='badge badge-karma'>{{user.karma}}</span>
          <strong>{{user.name}}</strong>
        </p>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>Recent Upvotes</h3>
    <ul id='upvotes' class='list-group'>
      <li ng-repeat="user in users" class="clearfix list-group-item">
        <p><i class='fa fa-thumbs-up fa-3x'></i></p>
        <p class='body'>
          <strong class="highlight">{{user}}++</strong> for fixing karma by <strong>@dickeyxxx</strong>
        </p>
      </li>
    </ul>
  </div>
</div>
<div class='row'>
  <div class="col-md-3 form">
    <h2>Upvote</h2>
    <form action="" role="form" ng-submit="upvoteUser()">
      <div class="form-group">
        <select ui-select2 class="select2" ng-model="user">
          <option ng-repeat="user in users">{{user}}</option>
        </select>
      </div>
      <div class="form-group">
        <input class='form-control input-lg'></input>
        <p class='help-block'>What did {{user}} do?</p>
      </div>
      <button class="btn btn-primary" type="submit">
        <i class="fa fa-thumbs-up fa-2x"></i>
      </button>
    </form>
  </div>
</div>
